body {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 5% 5% 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page_content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}

.article{
    margin: 5%, 5%, 5%, 5%;
}


.gallery{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

img { 
    object-fit: contain;
    width: 100%;
    height: 100%;
    transition: transform .2s;
  }

img:hover {
    transform: scale(1.2);
}

footer{
    text-align: right;
    font-size: small;
    font-style: italic;
  }